.fluid-containers{
    margin-left: 5em;
    margin-right: 5em;
    background: azure;
}

.border-boxy{
    background: white;
    border-radius: 2em;
    border: 10px black;
    margin-left: 20em;
    margin-right: 20em;
    padding-top: 2em;
    padding-bottom:2em;
    padding-left: 2em;
    padding-right: 2em;

}

